<h4 class="text">
  Signed Users With Activities
</h4>

<div class="table-responsive">
  <table *ngIf="signedUsers" class="table table-bordered table-hover table-striped table-content">
    <tr>
      <th>User Name</th>
      <th>Activity</th>
      <th>Comments</th>
    </tr>
    <tr *ngFor="let signedUser of signedUsers">
      <td>{{ signedUser.firstName }} {{ signedUser.lastName }}</td>
      <td>{{ signedUser.activity }}</td>
      <td>{{ signedUser.comments }}</td>
    </tr>
  </table>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    <strong>Oops!</strong> {{ error }}
  </div>
</div>
